.git-heading{
    text-align: center;
}

.git-card-wrapper{
    position: relative;
    display: grid;
    justify-content: center;
    justify-items: stretch;
    justify-items: stretch;
    grid-auto-flow: row dense;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    padding:30px
}

.git-card-wrapper {
    
  }

.cards{
    margin: 10px;
    border:1px solid #963c32;
    background-color:transparent;
    overflow: hidden;
    text-align: center;
    color:#fff;
    border-radius: 10px;
    padding: 15px;
    transition: all 0.5s ease-in-out;
}

.cards:hover{
    background-color: #1d1d1d;
    transform: scale(1.02);
}

.cards span{font-size: 19px;}
.cards a{
    color: #963c32;
    text-decoration: none;
    text-transform: uppercase;
}