html{
  box-sizing: border-box;
}
body{color: #963c32;font-family: 'VT323', monospace;font-size: 25px;}
.wrapper {
  /* min-height: 100vh; */
  overflow: hidden;
}

.common-wrapper{
  margin-top: 40px;
  height: calc(100vh - 40px);
  overflow-y: auto;
}

.gradient-color1{
  background:#141414;
}



/*bottombar*/
.bottommenu-bar{position: fixed;left: 0;right: 0;top: 0;z-index: 2;}
.bottommenu-bar .sectionbutton{display: flex;justify-content: space-evenly;align-items: flex-start;}
.bottommenu-bar .sectionbutton .button{flex-basis: 100%;text-align: center;cursor: pointer;height:40px;line-height: 40px;background-color: #0c2840;color: #fff;border: 0;box-shadow: 0 0 14px 3px #000;transition: all 0.5s linear;text-transform: uppercase;text-decoration: none;}
.bottommenu-bar .sectionbutton .button:hover{height: 60px;background-color: #0b4473;line-height: 60px;}